<div class="editor-component paragraph sfFixed text sfCol_100 tsfCol_100 msfCol_100 Dib TxAl-n tTxAl-n mTxAl-n mDib tDib dyncmpfld" data-dynfldtype="sageUrl" data-default-value="{{default_value}}" data-type="{{component_name}}" data-title="{{component_name}}" data-value-key="{{value_key}}">
    <div class="SetHdlr">
        <span class="stng">
            <i class="cb-stng" title="Settings" data-title="{{component_name}}"></i>
            <ul class="setDrp no_txt">
                <li class="com-settings" data-type="{{component_name}}" data-title="{{component_name}}">
                    <span class="text-wrp">Settings</span>
                    <i class="cb-mxr" title="Settings"></i>
                <li class="s-style" data-type="{{component_name}}" data-title="{{component_name}}">
                    <span class="text-wrp">Style</span>
                    <i class="cb-stl" title="Styles"></i>
                </li>
                <li class="deletehelper delete_icon">
                    <i class="cb-del" title="Delete"></i>
                </li>
            </ul>
        </span>
        <span class="sortComponent"><i class="cb-drg" title="Drag Up and down"></i></span>
    </div>
    <div class="anchorWrapper">
        <a href="{{default_value}}" style="color: rgb(0, 0, 0);" class="onhovercolor f-weight-300 Fs-16 mFs-16 tFs-16 Lh-24 dyncmp-url-link dyncmpfldval">{{component_name}}</a>
    </div>
</div>