<div class="editor-component youtubevideo sfFixed text sfCol_100 tsfCol_100 msfCol_100 Dib TxAl-n tTxAl-n mTxAl-n mDib tDib dyncmpfld" data-dynfldtype="sageVideo" data-default-value="{{default_value}}" data-type="{{component_name}}" data-title="{{component_name}}" data-value-key="{{value_key}}">
    <div class="SetHdlr">
        <span class="stng">
            <i class="cb-stng" title="Settings" data-title="{{component_name}}"></i>
            <ul class="setDrp no_txt">
                <li class="com-settings" data-type="{{component_name}}" data-title="{{component_name}}">
                    <span class="text-wrp">Settings</span>
                    <i class="cb-mxr" title="Settings"></i>
                <li class="s-style" data-type="{{component_name}}" data-title="{{component_name}}">
                    <span class="text-wrp">Style</span>
                    <i class="cb-stl" title="Styles"></i>
                </li>
                <li class="deletehelper delete_icon">
                    <i class="cb-del" title="Delete"></i>
                </li>
            </ul>
        </span>
        <span class="sortComponent"><i class="cb-drg" title="Drag Up and down"></i></span>
    </div>
    <div class="youtubeVideoWrap dyncmpfldval" style="width: 100%; height: 100%;">
        <iframe data-fullscreen="1"
                style="width: 100%; height: 100%; border: none;"
                src="{{default_value}}" allowfullscreen></iframe>
    </div>
</div>