@model Cbuilder.Core.Users.UserGetViewModel
@{    
    Dictionary<string, string> localLabel = (Dictionary<string, string>)ViewData["LocalLabel"];
    
}


<div class="is-small">
    @{ var action = "";
        if (Model == null) { action = "Create"; } else { action = "Update"; } }
    <h2 class="form-title">@localLabel[""+@action+" User"]</h2>
    <div class="sfFormwrapper card ">
        <div class="card-body Pa-6x">

            <form asp-action="Create" method="post">

                <input asp-for="ID" class="sfFormcontrol" type="hidden" />

                <div class="sfFieldset">
                    <div class="formkey">
                        <label asp-for="Email" class="sfFormlabel">@localLabel["Email"]</label>
                    </div>
                    <div class="formvalue">
                        <input type="text" asp-for="Email" class="sfFormcontrol" />
                        <span asp-validation-for="Email" class="sfError"></span>
                    </div>
                </div>

                <div class="sfFieldset">
                    <div class="formkey">
                        <label asp-for="Password" class="sfFormlabel">@localLabel["Password"]</label>
                    </div>
                    <div class="formvalue">
                        <input type="password" asp-for="Password" class="sfFormcontrol" value="" />
                        <span asp-validation-for="Password" class="sfError"></span>
                    </div>
                </div>
                <div class="sfFieldset">
                    <div class="formkey">
                        <label asp-for="ConfirmPassword" class="sfFormlabel">@localLabel["ConfirmPassword"]</label>
                    </div>
                    <div class="formvalue">
                        <input type="password" asp-for="ConfirmPassword" class="sfFormcontrol" value="" />
                        <span asp-validation-for="ConfirmPassword" class="sfError"></span>
                    </div>
                </div>
                <div class="sfFieldset">
                    <div class="formkey Mb-3x">
                        <span class="sfFormlabel">
                            @localLabel["Choose Roles"]                            
                        </span>
                    </div>
                    @*@await Component.InvokeAsync("Roles")*@
                    <radiobuttonlist group-name="UserInRoles" list-item="@ViewBag.RoleList"></radiobuttonlist>
                </div>

                <div class="sfButtonwrapper">
                    <input type="submit" value="@localLabel[""+@action+""]" class="btn primary round Mr-8" />
                    <a href="@URLHelper.DashboardURL(Context,"User", "Index")" class="btn light round">@localLabel["Back"]</a>
                </div>
            </form>
        </div>

    </div>
</div>

