@model Cbuilder.Core.Users.ResetPassword
@{
    Dictionary<string, string> localLabel = (Dictionary<string, string>)ViewData["LocalLabel"];

}
<div class="is-small">
    <section class="content-header">
        <div class="page-title">
            <div class="h2">@localLabel["ResetPassword"]</div>
        </div>
    </section>
    <div class="sfFormwrapper card ">
        <div class="card-body Pa-6x">
            <form asp-action="ResetPassword" method="post">
                <div class="sfFieldset">
                    <div class="formkey">
                        <label asp-for="UserName" class="sfFormlabel">@localLabel["UserName"]</label>
                    </div>
                    <div class="formvalue">
                        <input asp-for="UserName" class="sfFormcontrol" type="hidden" />
                        <span asp-for="UserName" class="sfFormlabel">@Model.UserName</span>
                    </div>
                </div>
                <div class="sfFieldset">
                    <div class="formkey">
                        <label asp-for="NewPassword" class="sfFormlabel">@localLabel["NewPassword"]</label>
                    </div>
                    <div class="formvalue">
                        <input type="password" asp-for="NewPassword" class="sfFormcontrol" value="" />
                        <span asp-validation-for="NewPassword" class="sfError"></span>
                    </div>
                </div>
                <div class="sfFieldset">
                    <div class="formkey">
                        <label asp-for="ConfirmPassword" class="sfFormlabel">@localLabel["ConfirmPassword"]</label>
                    </div>
                    <div class="formvalue">
                        <input type="password" asp-for="ConfirmPassword" class="sfFormcontrol" value="" />
                        <span asp-validation-for="ConfirmPassword" class="sfError"></span>
                    </div>
                </div>

                <div class="sfButtonwrapper">
                    <input type="submit" value="@localLabel["Update"]" class="btn primary round Mr-8" />
                    <a href="@URLHelper.DashboardURL(Context,"User", "Index")" class="btn light round">@localLabel["Back"]</a>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
